<section class="contact-section">
  <div class="contact-card-wrapper">
    
    <div class="contact-image-panel">
      <img 
        ngSrc="assets/Neuralnetworknodes.webp" 
        alt="Engage - Neural Network" 
        class="contact-bg-image"
        width="500"
        height="500"
        priority
      >
    <div class="cta-overlay-text">
        <h1 class="cta-title">Engage</h1>
      </div>
    </div>

    <div class="contact-details-panel">
      <div class="details-content">
        <p class="detail-label">Email:</p>
        <p class="detail-value email">engage@carriffgroup.co.uk</p>
        <p class="detail-label">Tel:</p>
        <p class="detail-value email">UK +447594794530</p>
        <p class="detail-value email">IRL +00353877383308</p>
        <p class="detail-motto">
          Tell us what you do and we'll remove the friction
        </p>

        <p class="detail-label social-header">Engage @</p>
        <p class="detail-value">
          <span class="social-label">Linkedin:</span>
          <a href="https://www.linkedin.com/company/carriff-digital/" target="_blank"> carriffdigital</a>
        </p>
        <p class="detail-value">
          <span class="social-label">facebook:</span>
          <a href="https://www.facebook.com/profile.php?id=61583941814105" target="_blank"> carriffdigital</a>
        </p>
        <p class="detail-value">
          <span class="social-label">Instagram:</span>
          <a href="https://www.instagram.com/carriffdigital/" target="_blank"> carriffdigital</a>
        </p>
      </div>
    </div>
  </div>
</section>
