<section class="about-section">
  <div class="about-card-desktop-wrapper">
    <div class="about-card-image">
      <img src="assets/MachineLearning.png" alt="Paul McCann - AI Brain">
      
      <div class="about-card-info-mobile">
        <h2 class="person-name">Paul McCann</h2>
        <p class="person-title">Founder</p>
      </div>
    </div>

    <div class="about-card-content">
      <h2 class="person-name-desktop">Paul McCann</h2>
      <h3 class="person-subtitle">Automating the mundane</h3>
      <p class="person-description">
        A seasoned digital transformation specialist, driving innovation and leveraging data to keep you at a
        competitive edge and even make life easier for everyone. My background in semiconductors,
        automotive, consultancy, and agency has provided me with a diverse skill set and a pragmatic approach to
        problem-solving. I believe in strong leadership, collaborative teamwork, and continuous learning.
        Beyond the professional realm, I am an avid runner and dedicated football coach, valuing teamwork and
        strategic thinking both on and off the field.
      </p>
    </div>
  </div>
</section>