<section class="about-section">
    <div class="about-card-desktop-wrapper">
    <div class="about-card-image">
      <img src="assets/CyberpunkGoat.png" alt="Old Irish Digital Goat">
      
      <div class="about-card-info-mobile">
        <h2 class="person-name">Carriff Digital</h2>
        <p class="person-title">UK and Ireland Digital Specialists</p>
      </div>
    </div>

    <div class="about-card-content">
      <h2 class="person-name-desktop">Carriff Digital</h2>
      <h3 class="person-subtitle">UK and Ireland Digital Specialists</h3>
      <p class="person-description">
        <strong>We are your partners in digital transformation, specialising in accelerating innovation and delivering quantifiable commercial growth.</strong></p> 
        <p class="person-description">Carriff Digital, headquartered in Belfast, Northern Ireland provides a range of services to help you
      navigate the ever changing technology landscape.</p>
      <p class="person-description">
        We help ambitious companies stay ahead of the curve by leveraging the latest technology to unlock efficiency and new opportunities. Using AI to deliver technological change faster and at a much lower cost than thought possible.
      </p>

      <p class="person-description-end"><strong>We work across three core pillars to achieve this:</strong></p>

      <ul class="person-description">
          <li>
              <strong>Streamlined Operations:</strong> Utilizing AI and automation to redefine processes, boost efficiency, and generate new revenue streams.
          </li>
          <li>
              <strong>Commercial Advantage:</strong> Transforming complex data into clear, actionable insights that drive market advantage and accelerate business performance.
          </li>
          <li>
              <strong>Sustainable Foundation:</strong> Implementing robust Data Governance frameworks and security protocols to ensure your innovation is compliant, scalable, and risk-free.
          </li>
      </ul>
    </div>
  </div>
</section>