<section class="about-section">
    <div class="about-card-desktop-wrapper">
    <div class="about-card-image">
      <img src="assets/CyberpunkGoat.png" alt="Old Irish Digital Goat">
      
      <div class="about-card-info-mobile">
        <h2 class="person-name">Carriff Digital</h2>
        <p class="person-title">UK and Ireland Digital Specialists</p>
      </div>
    </div>

    <div class="about-card-content">
      <h2 class="person-name-desktop">Carriff Digital</h2>
      <h3 class="person-subtitle">UK and Ireland Digital Specialists</h3>
      <p class="person-description">
        Carriff Digital, headquartered in Belfast, Northern Ireland provides a range of services to help you
      navigate the ever changing technology landscape. From help to implement a robust data security framework
      to navigating the confusing new world of AI, to providing commercial improvments with data insights. 
      Our name and logo comes from an area in Armagh where old Irish goats used to roam and yes, 
      we are the Goats of digital transformation. 
      We keep our company environmentally friendly with a low carbon footprint so that the goats can roam free and also 
      5% of our profits will go to charity.</p>
    </div>
  </div>
  <div class="about-card-desktop-wrapper">
    <div class="about-card-image">
      <img src="assets/MachineLearning.png" alt="Paul McCann - AI Brain">
      
      <div class="about-card-info-mobile">
        <h2 class="person-name">Paul McCann</h2>
        <p class="person-title">Founder</p>
      </div>
    </div>

  </div>
</section>