<footer class="main-footer">
  <div class="footer-content">
    
    <div class="footer-links">
      <h3>Quick Links</h3>
      <nav aria-label="Footer Navigation">
        <ul>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-contact">
      <h3>Get in Touch</h3>
      <p>Email: <a href="mailto:info@carriffgroup.co.uk">info@carriffgroup.co.uk</a></p>
    </div>

  </div>
  
  <div class="footer-copyright">
    <p>&copy; {{ currentYear }} Carriff Digital. All rights reserved.</p>
    <p>Carriff Digital is a trading name of Carriff Ltd, registered in Northern Ireland (NI694330)</p>
  </div>
</footer>